#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for fis-gtm

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ARCH=$(shell dpkg-architecture -qDEB_HOST_GNU_CPU)
UAPIVER=6.0-003
UAPIDIR=V$(UAPIVER)_$(ARCH)
BINPKG := $(shell awk '/Package:.*[0-9]/{print $$2;}' debian/control)
LOCALINSTANCEDIR=$(CURDIR)/debian
VISTA_FOIA_DATE=20130405
VISTA_FOIA_VERSION=V-0.$(VISTA_FOIA_DATE)
VISTA_INSTALL_DIR=usr/share/vista-foia/$(VISTA_FOIA_VERSION)
VISTAINSTANCEDIR=$(LOCALINSTANCEDIR)/$(VISTA_INSTALL_DIR)
GTM_INSTALL_DIR=/usr/lib/fis-gtm/$(UAPIDIR)
VISTA_GLOBALS_DIR=$(VISTAINSTANCEDIR)/g
VISTA_ROUTINES_DIR=$(VISTAINSTANCEDIR)/r
VISTA_OBJECTS_DIR=$(VISTAINSTANCEDIR)/o
VISTA_GTM_DATABASE=$(VISTAINSTANCEDIR)/g/database
# The libgtmutil.so file only exist in the x64 architecture.
# We need to add here the x86 alternative.
VISTA_GTM_ROUTINES_ARCH=$(GTM_INSTALL_DIR)/libgtmutil.so
VISTA_GTM_ROUTINES="$(VISTA_OBJECTS_DIR)($(VISTA_ROUTINES_DIR)) $(VISTA_GTM_ROUTINES_ARCH)"
VISTA_M_WORKING_TREE=$(CURDIR)/OSEHRA-VistA-M-897bff2
VISTA_TESTING_BINARY_DIR=$(CURDIR)/debian/build
VISTA_TESTING_SOURCE_DIR=$(CURDIR)
VISTA_TESTING_LOG_DIR=$(VISTA_TESTING_BINARY_DIR)/Temporary/Log
LOCAL_VISTA_INSTALL_DIR := $(CURDIR)/debian/$(BINPKG)/$(VISTA_INSTALL_DIR)

%:
	dh $@


#
#  Bring in the full list of VistA M routines
#  and place them in the vista_m_sources variable
#
include debian/vista_m_routines_list

#
#  Define the default paths for finding .m files and .o files
#
vpath %.m $(VISTA_ROUTINES_DIR)
vpath %.o $(VISTA_OBJECTS_DIR)
vpath %.log $(VISTA_TESTING_LOG_DIR)

#
#  Implicit rule to compile MUMPS files into object files
#
#  http://tinco.pair.com/bhaskar/gtm/doc/books/pg/UNIX_manual/ch03s05.html#Compile_from_Shell
#
%.o : %.m
	echo $< -o $(VISTA_OBJECTS_DIR)/$(@F)
	(export gtmgbldir=$(VISTA_GTM_DATABASE); \
export gtmroutines=$(VISTA_GTM_ROUTINES); \
export gtm_dist=$(GTM_INSTALL_DIR); \
export gtm_destdir=$(LOCALINSTANCEDIR); \
$(GTM_INSTALL_DIR)/mumps -object=$(VISTA_OBJECTS_DIR)/$(@F)  $<  )

vista_m_sources := $(patsubst %.m,$(VISTA_ROUTINES_DIR)/%.m,$(vista_m_sources_files))
vista_o_objects_files := $(patsubst %.m,%.o,$(vista_m_sources_files))


override_dh_auto_configure:
	mkdir -p $(VISTAINSTANCEDIR)
	mkdir -p $(VISTA_TESTING_BINARY_DIR)
	mkdir -p $(VISTA_ROUTINES_DIR)
	mkdir -p $(VISTA_OBJECTS_DIR)
	mkdir -p $(VISTA_GLOBALS_DIR)
	mkdir -p $(VISTAINSTANCEDIR)/inet
	mkdir -p $(VISTAINSTANCEDIR)/inet/Logs
	(export gtmgbldir=$(VISTA_GTM_DATABASE); export gtmroutines=$(VISTA_GTM_ROUTINES); export gtm_dist=$(GTM_INSTALL_DIR); echo "change -s DEFAULT -f=$(VISTAINSTANCEDIR)/g/database" | $(GTM_INSTALL_DIR)/mumps -r GDE)
	(export gtmgbldir=$(VISTA_GTM_DATABASE); export gtmroutines=$(VISTA_GTM_ROUTINES); export gtm_dist=$(GTM_INSTALL_DIR); $(GTM_INSTALL_DIR)/mupip create)
	(export gtmgbldir=$(VISTA_GTM_DATABASE); export gtmroutines=$(VISTA_GTM_ROUTINES); export gtm_dist=$(GTM_INSTALL_DIR); $(GTM_INSTALL_DIR)/dse change -f -key_max=1023 -rec=4096)
	cp -r debian/deploy $(VISTAINSTANCEDIR)
	(export gtmgbldir=$(VISTA_GTM_DATABASE); export gtmroutines=$(VISTA_GTM_ROUTINES); export gtm_dist=$(GTM_INSTALL_DIR);  \
cd $(VISTA_TESTING_BINARY_DIR) && \
echo ${PWD} && \
cmake $(VISTA_TESTING_SOURCE_DIR)   \
-DCMAKE_INSTALL_PREFIX:PATH=/usr \
-DGTM_INSTALL_DIR=$(GTM_INSTALL_DIR) \
-DVISTA_GLOBALS_DIR:PATH=$(VISTA_GLOBALS_DIR) \
-DVISTA_ROUTINE_DIR:PATH=$(VISTA_ROUTINES_DIR) \
-DGTM_DIST:PATH=$(GTM_INSTALL_DIR) \
-DGTM_SOURCE_DIR:STRING=$(VISTA_GTM_ROUTINES) \
-DTEST_VISTA:BOOL=ON \
-DTEST_VISTA_SETUP:BOOL=OFF \
-DTEST_VISTA_FRESH:BOOL=ON \
-DTEST_VISTA_FRESH_ALL:BOOL=ON \
-DTEST_VISTA_GTM_ROUTINE_DIR:STRING=$(VISTA_ROUTINES_DIR) \
-DTEST_VISTA_FRESH_M_DIR:PATH=$(VISTA_M_WORKING_TREE) \
-DTEST_VISTA_FRESH_GTM_ROUTINE_DIR:PATH=$(VISTA_ROUTINES_DIR) \
-DTEST_VISTA_FRESH_GTM_OBJECT_DIR:PATH=$(VISTA_OBJECTS_DIR) \
-DTEST_VISTA_FRESH_GTM_GLOBALS_DAT:FILEPATH=$(VISTA_GTM_DATABASE).dat \
)


override_dh_auto_build:
	(export gtmgbldir=$(VISTA_GTM_DATABASE); export gtmroutines=$(VISTA_GTM_ROUTINES); export gtm_dist=$(GTM_INSTALL_DIR); \
export gtm_destdir=$(LOCALINSTANCEDIR); \
cd $(VISTA_TESTING_BINARY_DIR); \
make ExperimentalStart; \
make ExperimentalConfigure; \
make ExperimentalBuild)


override_dh_auto_install:
	dh_auto_install --destdir=debian/$(BINPKG) $@

get-orig-source:
	wget -O../OSEHRA-VistA-M-897bff2a.orig.tar.gz https://github.com/OSEHRA/VistA-M/tarball/897bff2a
	wget -O../vista-foia_0.20140106.orig.tar.gz   https://github.com/OSEHRA/VistA/tarball/fdc8ff2b

describe-current-version:
	git describe --tags upstream | sed 's,^release-,,;s,-,+,;s,-,~,;'

override_dh_auto_clean:
	rm -rf $(VISTAINSTANCEDIR)
	rm -rf $(VISTA_TESTING_BINARY_DIR)
	find $(VISTA_TESTING_SOURCE_DIR) -name "*.pyc" -delete

